.dark {
  --md-sys-color-primary: rgb(102 253 236);
  --md-sys-color-surface-tint: rgb(58 220 204);
  --md-sys-color-on-primary: rgb(0 55 50);
  --md-sys-color-primary-container: rgb(64 224 208);
  --md-sys-color-on-primary-container: rgb(0 96 88);
  --md-sys-color-secondary: rgb(156 209 200);
  --md-sys-color-on-secondary: rgb(0 55 50);
  --md-sys-color-secondary-container: rgb(25 79 73);
  --md-sys-color-on-secondary-container: rgb(139 191 183);
  --md-sys-color-tertiary: rgb(230 227 255);
  --md-sys-color-on-tertiary: rgb(44 43 91);
  --md-sys-color-tertiary-container: rgb(199 196 255);
  --md-sys-color-on-tertiary-container: rgb(81 79 130);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(14 21 20);
  --md-sys-color-on-background: rgb(221 228 226);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(229 226 225);
  --md-sys-color-surface-variant: rgb(68 71 72);
  --md-sys-color-on-surface-variant: rgb(196 199 200);
  --md-sys-color-outline: rgb(142 145 146);
  --md-sys-color-outline-variant: rgb(68 71 72);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(49 48 48);
  --md-sys-color-inverse-primary: rgb(0 106 98);
  --md-sys-color-primary-fixed: rgb(97 249 233);
  --md-sys-color-on-primary-fixed: rgb(0 32 29);
  --md-sys-color-primary-fixed-dim: rgb(58 220 204);
  --md-sys-color-on-primary-fixed-variant: rgb(0 80 73);
  --md-sys-color-secondary-fixed: rgb(184 237 228);
  --md-sys-color-on-secondary-fixed: rgb(0 32 29);
  --md-sys-color-secondary-fixed-dim: rgb(156 209 200);
  --md-sys-color-on-secondary-fixed-variant: rgb(25 79 73);
  --md-sys-color-tertiary-fixed: rgb(227 223 255);
  --md-sys-color-on-tertiary-fixed: rgb(23 20 69);
  --md-sys-color-tertiary-fixed-dim: rgb(196 193 251);
  --md-sys-color-on-tertiary-fixed-variant: rgb(67 65 115);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(58 57 57);
  --md-sys-color-surface-container-lowest: rgb(14 14 14);
  --md-sys-color-surface-container-low: rgb(28 27 27);
  --md-sys-color-surface-container: rgb(32 31 31);
  --md-sys-color-surface-container-high: rgb(42 42 42);
  --md-sys-color-surface-container-highest: rgb(53 52 52);
}
