.dark-high-contrast {
  --md-sys-color-primary: rgb(174 255 243);
  --md-sys-color-surface-tint: rgb(58 220 204);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(64 224 208);
  --md-sys-color-on-primary-container: rgb(0 25 23);
  --md-sys-color-secondary: rgb(197 251 242);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(153 205 197);
  --md-sys-color-on-secondary-container: rgb(0 14 12);
  --md-sys-color-tertiary: rgb(242 238 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(199 196 255);
  --md-sys-color-on-tertiary-container: rgb(16 13 63);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(14 21 20);
  --md-sys-color-on-background: rgb(221 228 226);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(68 71 72);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(238 240 241);
  --md-sys-color-outline-variant: rgb(192 195 196);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 81 75);
  --md-sys-color-primary-fixed: rgb(97 249 233);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(58 220 204);
  --md-sys-color-on-primary-fixed-variant: rgb(0 21 18);
  --md-sys-color-secondary-fixed: rgb(184 237 228);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(156 209 200);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 21 18);
  --md-sys-color-tertiary-fixed: rgb(227 223 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(196 193 251);
  --md-sys-color-on-tertiary-fixed-variant: rgb(12 8 59);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(81 80 79);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(32 31 31);
  --md-sys-color-surface-container: rgb(49 48 48);
  --md-sys-color-surface-container-high: rgb(60 59 59);
  --md-sys-color-surface-container-highest: rgb(71 70 70);
}
