.dark-medium-contrast {
  --md-sys-color-primary: rgb(102 253 236);
  --md-sys-color-surface-tint: rgb(58 220 204);
  --md-sys-color-on-primary: rgb(0 51 46);
  --md-sys-color-primary-container: rgb(64 224 208);
  --md-sys-color-on-primary-container: rgb(0 64 59);
  --md-sys-color-secondary: rgb(178 231 222);
  --md-sys-color-on-secondary: rgb(0 43 39);
  --md-sys-color-secondary-container: rgb(103 154 147);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(230 227 255);
  --md-sys-color-on-tertiary: rgb(40 38 87);
  --md-sys-color-tertiary-container: rgb(199 196 255);
  --md-sys-color-on-tertiary-container: rgb(52 51 100);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(14 21 20);
  --md-sys-color-on-background: rgb(221 228 226);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(68 71 72);
  --md-sys-color-on-surface-variant: rgb(218 221 221);
  --md-sys-color-outline: rgb(175 178 179);
  --md-sys-color-outline-variant: rgb(141 145 145);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(42 42 42);
  --md-sys-color-inverse-primary: rgb(0 81 75);
  --md-sys-color-primary-fixed: rgb(97 249 233);
  --md-sys-color-on-primary-fixed: rgb(0 21 18);
  --md-sys-color-primary-fixed-dim: rgb(58 220 204);
  --md-sys-color-on-primary-fixed-variant: rgb(0 62 56);
  --md-sys-color-secondary-fixed: rgb(184 237 228);
  --md-sys-color-on-secondary-fixed: rgb(0 21 18);
  --md-sys-color-secondary-fixed-dim: rgb(156 209 200);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 62 56);
  --md-sys-color-tertiary-fixed: rgb(227 223 255);
  --md-sys-color-on-tertiary-fixed: rgb(12 8 59);
  --md-sys-color-tertiary-fixed-dim: rgb(196 193 251);
  --md-sys-color-on-tertiary-fixed-variant: rgb(50 48 97);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(69 68 68);
  --md-sys-color-surface-container-lowest: rgb(7 7 7);
  --md-sys-color-surface-container-low: rgb(30 29 29);
  --md-sys-color-surface-container: rgb(40 40 40);
  --md-sys-color-surface-container-high: rgb(51 50 50);
  --md-sys-color-surface-container-highest: rgb(62 61 61);
}
