.light {
  --md-sys-color-primary: rgb(0 106 98);
  --md-sys-color-surface-tint: rgb(0 106 98);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(64 224 208);
  --md-sys-color-on-primary-container: rgb(0 96 88);
  --md-sys-color-secondary: rgb(52 103 96);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(184 237 228);
  --md-sys-color-on-secondary-container: rgb(59 109 102);
  --md-sys-color-tertiary: rgb(91 89 141);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(199 196 255);
  --md-sys-color-on-tertiary-container: rgb(81 79 130);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(244 251 248);
  --md-sys-color-on-background: rgb(22 29 28);
  --md-sys-color-surface: rgb(252 248 248);
  --md-sys-color-on-surface: rgb(28 27 27);
  --md-sys-color-surface-variant: rgb(224 227 227);
  --md-sys-color-on-surface-variant: rgb(68 71 72);
  --md-sys-color-outline: rgb(116 120 120);
  --md-sys-color-outline-variant: rgb(196 199 200);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 48);
  --md-sys-color-inverse-on-surface: rgb(244 240 239);
  --md-sys-color-inverse-primary: rgb(58 220 204);
  --md-sys-color-primary-fixed: rgb(97 249 233);
  --md-sys-color-on-primary-fixed: rgb(0 32 29);
  --md-sys-color-primary-fixed-dim: rgb(58 220 204);
  --md-sys-color-on-primary-fixed-variant: rgb(0 80 73);
  --md-sys-color-secondary-fixed: rgb(184 237 228);
  --md-sys-color-on-secondary-fixed: rgb(0 32 29);
  --md-sys-color-secondary-fixed-dim: rgb(156 209 200);
  --md-sys-color-on-secondary-fixed-variant: rgb(25 79 73);
  --md-sys-color-tertiary-fixed: rgb(227 223 255);
  --md-sys-color-on-tertiary-fixed: rgb(23 20 69);
  --md-sys-color-tertiary-fixed-dim: rgb(196 193 251);
  --md-sys-color-on-tertiary-fixed-variant: rgb(67 65 115);
  --md-sys-color-surface-dim: rgb(221 217 217);
  --md-sys-color-surface-bright: rgb(252 248 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(246 243 242);
  --md-sys-color-surface-container: rgb(241 237 236);
  --md-sys-color-surface-container-high: rgb(235 231 231);
  --md-sys-color-surface-container-highest: rgb(229 226 225);
}
