.light-medium-contrast {
  --md-sys-color-primary: rgb(0 62 56);
  --md-sys-color-surface-tint: rgb(0 106 98);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(0 123 113);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(0 62 56);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(68 118 111);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(50 48 97);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(106 104 156);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(244 251 248);
  --md-sys-color-on-background: rgb(22 29 28);
  --md-sys-color-surface: rgb(252 248 248);
  --md-sys-color-on-surface: rgb(17 17 17);
  --md-sys-color-surface-variant: rgb(224 227 227);
  --md-sys-color-on-surface-variant: rgb(51 55 56);
  --md-sys-color-outline: rgb(79 83 84);
  --md-sys-color-outline-variant: rgb(106 110 110);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 48);
  --md-sys-color-inverse-on-surface: rgb(244 240 239);
  --md-sys-color-inverse-primary: rgb(58 220 204);
  --md-sys-color-primary-fixed: rgb(0 123 113);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 96 88);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(68 118 111);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(42 93 87);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(106 104 156);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(81 79 130);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(201 198 197);
  --md-sys-color-surface-bright: rgb(252 248 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(246 243 242);
  --md-sys-color-surface-container: rgb(235 231 231);
  --md-sys-color-surface-container-high: rgb(223 220 219);
  --md-sys-color-surface-container-highest: rgb(212 209 208);
}
